.user-box{
	margin-left: 100px;
	margin-right: 100px;
	height: 500px;
	background-color: white; 
	padding: 10px;
	justify-content: center;
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

#listTitle{
    font-size: 5rem;
}

.users{
	background-color: aliceblue;
	margin-top: 3rem;
	font-size: 20px;
}

#usersTitle{
    font-size: 2rem;
}

.users-grid {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
	grid-gap: 10px;
}

.users-date{
    grid-column: 1/ span 2;
    color: cadetblue;
}

.users-like {
	grid-column: 6;
}

.fa.fa-heart {
	color: red;
}