.navspace{
  margin-bottom: 1em;
}

.carta{
  margin-left: 1em;

}

.imagencarta{
  height: 40vmin;
  width: 40vmin;
}
.App-logo {
  height: 10vmin;
  width: 10vmin;
  margin-left:1vmin;
  display:inline-block;
  align-self: center;
}

.App-header {

  background: #134E5E;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #71B280, #134E5E);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #71B280, #134E5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 4vmin;
}

.footerStyle{
  background: #134E5E;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #71B280, #134E5E);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #71B280, #134E5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display:flex;
  position: absolute;
}

